<div class="container-fluid">
    <div class="row justify-content-around">
        <i class="fas fa-arrow-left" (click)="goBack()"></i>
        <img class="top-img" src="../../assets/Screen Shot 2021-06-04 at 8.57.08 AM.png" alt="" routerLink="/">
    </div>
</div>

<div id="auth-sizer">
    <ngx-auth-firebaseui-user (onSignOut)="signOut()"></ngx-auth-firebaseui-user>
</div>

<div class="container">
    <div class="row">
        <div class="col-6 alerts" *ngIf="newAlertsArr.length + noNewAlertsArr.length === totalAlerts && totalAlerts > 0 && newAlertsArr.length > 0">
            <h1>New Dogs Updated!</h1>
            <div class="new-alert" *ngFor="let xalert of newAlertsArr">
                <h2>{{xalert.alertType}}</h2>
                <button mat-raised-button color="primary" (click)="showAlertDogs(xalert)">View Dogs</button>
                <button mat-raised-button color="warn" (click)="deleteAlert(xalert)">Delete Alert</button>
                <button mat-raised-button color="primary" (click)="seenNewDogs(xalert)">X</button>
            </div>
        </div>
        <div class="col-6 alerts" *ngIf="newAlertsArr.length + noNewAlertsArr.length === totalAlerts && totalAlerts > 0 && noNewAlertsArr.length > 0">
            <h1>Keeping our eye on</h1>
            <div class="no-new-alert" *ngFor="let xalert of noNewAlertsArr">
                <h2>{{xalert.alertType}}</h2>
                <button mat-raised-button color="primary" (click)="showAlertDogs(xalert)">View Dogs</button>
                <button mat-raised-button color="warn" (click)="deleteAlert(xalert)">Delete Alert</button>
            </div>
        </div>
    </div>
</div>
<div class="col-md-8 " *ngIf="dogsArr">
    <!-- <mat-card class="example-card" *ngFor="let dog of dogs.animals">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Name: {{dog.name}}</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img *ngIf="dog.primary_photo_cropped" src="{{dog.primary_photo_cropped.small}}" alt="">
        <mat-card-content>
          <p>
            dog
          </p>
        </mat-card-content>
        <mat-card-actions>
            <a routerLink="/DogDetails/{{dog.id}}">Show Dog Details</a>
        </mat-card-actions>
    </mat-card> -->
<mat-grid-list cols="2" rowHeight="1:2">
    <mat-grid-list cols="2" rowHeight="1:2">
        <mat-grid-tile *ngFor="let dog of dogsArr.animals">
            <!-- <ul >
                <li>
                    <p>Name: {{dog.name}}</p>
            
                    <img *ngIf="dog.primary_photo_cropped" src="{{dog.primary_photo_cropped.small}}" alt="">
                    <a routerLink="/DogDetails/{{dog.id}}">Show Dog Details</a>
                </li>
            </ul> -->
            <mat-card class="example-card" >
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Name: {{dog.name}}</mat-card-title>
                    <mat-card-subtitle></mat-card-subtitle>
                </mat-card-header>
                <img class="dog-img" *ngIf="dog.primary_photo_cropped" src="{{dog.primary_photo_cropped.small}}" alt="">
                <mat-card-content>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button color="primary">
                        <a class="dog-card-btn" class="dog-card-btn" routerLink="/DogDetails/{{dog.id}}">Show Dog Details</a>
                    </button>
                </mat-card-actions>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
    <!-- <mat-grid-tile *ngFor="let dog of dogsArr.animals">
        <ul >
            <li>
                <p>Name: {{dog.name}}</p>
        
                <img *ngIf="dog.primary_photo_cropped" src="{{dog.primary_photo_cropped.small}}" alt="">
                <a routerLink="/DogDetails/{{dog.id}}">Show Dog Details</a>
            </li>
        </ul>
    </mat-grid-tile>
</mat-grid-list> -->
<!-- </div> -->