<app-navbar></app-navbar>
<button class="btn btn-primary" style="  background-color: #7BB8B2;" (click)="AddComments()">Start a new Comment!</button>
<div class="row justify-content-start">
  <div class="container col-8" *ngIf="comments.length > 0 else noComments">
    <table class="table">
      <thead class="col-8">
      <th class="user">User:</th>
      <th class="comment">Comment:</th>
      <tbody *ngFor="let comment of comments; let i = index">
        <tr *ngIf="i%2 == 1" style="background-color: #f8f8f1;">
          <td class="user">
            <p>{{comment.userName}}</p>
          </td>
          <td class="comment">
            <p>{{comment.message}}</p>
          </td>
        </tr>
        <tr *ngIf="i%2 == 0">
          <td class="user">
            <p>{{comment.userName}}</p>
          </td>
          <td class="comment">
            <p>{{comment.message}}</p>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
  <ng-template #noComments>
    <div class="col-8">
      <h4>Congradulations! You are the first to start a Comment for this Post. Make it a good one.</h4>
    </div>
  </ng-template>

  <div class="col-4" *ngIf="dogs">
    <mat-card style="overflow: hidden">
      <mat-card-header>
        <mat-card-title>Adopt {{dogs.animals[0].name}}!</mat-card-title>
      </mat-card-header>
      <mat-card-content class="justify-content-center">
        <img mat-card-image src="{{dogs.animals[0].primary_photo_cropped.small}}" *ngIf="dogs.animals[0].primary_photo_cropped.small" style="margin: 20px 0px;"/>
        <h3>About Me</h3>
        <p *ngIf="dogs.animals[0].description else noDescription">
          {{dogs.animals[0].description}}
        </p>
        <ng-template #noDescription>
          <p>
            {{dogs.animals[0].name}} is a {{dogs.animals[0].age}} {{dogs.animals[0].size}} {{dogs.animals[0].breeds.primary}}
          </p>
        </ng-template>
        <a routerLink="/DogDetails/{{dogs.animals[0].id}}">Show Dog Details</a>
      </mat-card-content>
    </mat-card>
  </div>
