


<app-navbar></app-navbar>

<div  class="container-fluid" >
    <div class="row">
        
        <div class="col-md-8 " *ngIf="dogIdArr">
        <mat-grid-list cols="2" rowHeight="1:2">
            <mat-grid-tile *ngFor="let dog of dogIdArr">
                <mat-card class="example-card" >
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>Name: {{dog.animal.name}}</mat-card-title>
                        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                    </mat-card-header>
                    <img *ngIf="dog.animal.primary_photo_cropped" src="{{dog.animal.primary_photo_cropped.small}}" alt="">
                    <mat-card-content>
                        <p>
                        dog
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <a routerLink="/DogDetails/{{dog.animal.id}}">Show Dog Details</a>
                    </mat-card-actions>
                </mat-card>
            </mat-grid-tile>
        </mat-grid-list>
        </div>
    </div>
</div>

