<app-navbar></app-navbar>

<div  class="container-fluid" >
    <div class="row">
      <p>I WILL GET THIS SHIT WORKING SOON</p>
       <!-- THIS SHIT WILL WORK SOON <div class="col-md-8 " *ngIf="dogsArr">
            









        
        <mat-grid-list cols="2" rowHeight="1:2">
            <mat-grid-tile *ngFor="let dog of dogsArr.animals">
                <ul >
                    <li>
                        <p>Name: {{dog.name}}</p>
                
                        <img *ngIf="dog.primary_photo_cropped" src="{{dog.primary_photo_cropped.small}}" alt="">
                        <a routerLink="/DogDetails/{{dog.id}}">Show Dog Details</a>
                    </li>
                </ul>
            </mat-grid-tile>
        </mat-grid-list>
      
        </div>-->
    </div>
</div>

