<app-navbar></app-navbar>
<button class="btn-primary" style="  background-color: #7BB8B2;" (click)="AddForum()">Start a new forum!</button>
  <div class="row justify-content-start">
    <div class="container col-8" *ngIf="forums.length > 0 else noForums">
      <table class="table">
        <thead>
        <th>Forums</th>
        </thead>
        <tbody *ngFor="let forum of forums; let i = index">
          <tr>
            <td *ngIf="i%2 == 1" style="    background-color: #f8f8f1;">
              <div>
                <i class="odd fa fa-newspaper-o" aria-hidden="true" (click)="GoToPosts(forum.forumID)">   {{forum.topic}}</i>
                <span> - {{forum.description}}</span>
              </div>
            </td>
            <td *ngIf="i%2 == 0">
              <div>
                <i class="odd fa fa-newspaper-o" aria-hidden="true" (click)="GoToPosts(forum.forumID)">   {{forum.topic}}</i>
                <span> - {{forum.description}}</span>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <ng-template #noForums>
      <div class="col-8">
        <h4>Congradulations! You are the first to start a Forum on our website. Make it a good one.</h4>
      </div>
    </ng-template>

    <div class="col-4" *ngIf="dogs">
      <mat-card style="overflow: hidden">
        <mat-card-header>
          <mat-card-title>Adopt {{dogs.animals[0].name}}!</mat-card-title>
        </mat-card-header>
        <mat-card-content class="justify-content-center">
          <div style="overflow: hidden">
            <img mat-card-image src="{{dogs.animals[0].primary_photo_cropped.small}}" *ngIf="dogs.animals[0].primary_photo_cropped.small" style="margin: 20px 0px;" />
          </div>
          <h3>About Me</h3>
          <p *ngIf="dogs.animals[0].description else noDescription">
            {{dogs.animals[0].description}}
          </p>
          <ng-template #noDescription>
            <p>
              {{dogs.animals[0].name}} is a {{dogs.animals[0].age}} {{dogs.animals[0].size}} {{dogs.animals[0].breeds.primary}}
            </p>
          </ng-template>
          <a routerLink="/DogDetails/{{dogs.animals[0].id}}">Show Dog Details</a>
        </mat-card-content>
      </mat-card>
    </div>

  </div>
