

<div *ngIf="dog" class="background">
    <div class="container-fluid">
        <div class="row justify-content-around">
            <i class="fas fa-arrow-left" (click)="goBack()"></i>
            <img class="top-img" src="../../assets/Screen Shot 2021-06-04 at 8.57.08 AM.png" alt="" routerLink="/">
        </div>
    </div>

    <div class="container ">
        <div class="">
            <div class="mainCon ">

                <div class="dog-name">
                    <h1>Meet {{dog.animal.name}}!</h1>
                </div>
                <ngb-carousel class="carouse" *ngIf="dogPhotos">
                    <ng-template ngbSlide *ngFor="let photo of dogPhotos" >
                        <div class="picsum-img-wrapper carouse justify-content-center">
                          <img class="c-photo" [src]="photo.medium" alt="Random first slide">
                        </div>
                    </ng-template>
                    <!-- <img *ngFor="let photo of dog.animal.photos" src="{{photo.small}}" alt=""> -->
                </ngb-carousel>
                <div class="dog-info">
                    <h3>Age: {{dog.animal.age}}</h3>
                    <hr>
                    <h3>Breed: {{dog.animal.breeds.primary}}, <span *ngIf="dog.animal.breeds.secondary">{{dog.animal.breeds.secondary}}</span></h3>
                    <hr>
                    <h3>Size: {{dog.animal.size}}</h3>
                    <hr>
                    <h3>Enjoys a home with: 
                        <span *ngIf="dog.animal.environment.dogs"> other dogs</span>
                        <span *ngIf="dog.animal.environment.dogs && dog.animal.environment.cats">,</span>
                        <span *ngIf="dog.animal.environment.cats"> cats</span>
                        <span *ngIf="dog.animal.environment.dogs && dog.animal.environment.cats || 
                        dog.animal.environment.dogs && dog.animal.environment.children">,</span>
                        <span *ngIf="dog.animal.environment.children"> children </span>
                    
                    </h3>
                    <hr>
                    <h3>Has been: 
                        <span *ngIf="dog.animal.attributes.house_trained"> House trained,</span>
                        <span *ngIf="dog.animal.attributes.shots_current"> Given all their necessary shots,</span>
                        <span *ngIf="dog.animal.attributes.spayed_neutered"> Spayed and Neutered </span>
                    </h3>
                    <hr>
                    <h3>Tags: </h3>
                    <p *ngFor="let tag of dog.animal.tags">{{tag}}</p>
                    <hr>
                    <h3>Description: {{dog.animal.description}}</h3>

                </div>

                <div class="loc-div" *ngIf="loc">
                    <div class="container">
                        <div class="row">
                            <h1>If you want to bring {{dog.animal.name}} home reach out to {{loc.organization.name}}</h1>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="address" *ngIf="loc.organization.address">
                                    <p>{{loc.organization.name}}</p>
                                    <p *ngIf="loc.organization.address.address1">{{loc.organization.address.address1}}</p>
                                    <p *ngIf="loc.organization.address.address2">{{loc.organization.address.address2}}</p>
                                    <p *ngIf="loc.organization.address.city">{{loc.organization.address.city}}, {{loc.organization.address.state}} {{loc.organization.address.postcode}}</p>
                                    <!-- <button class="get-directions" (click)="directions"></button> -->
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="contact">
                                    <p *ngIf="loc.organization.phone">{{loc.organization.phone}}</p>
                                    <p *ngIf="loc.organization.email">{{loc.organization.email}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="row social-media" *ngIf="loc.organization.social_media.facebook">
                            <div class="col-7">
                                <h2>Find {{loc.organization.name}} on social media!</h2>
                            </div>
                            <div class="col-5 justify-content-center social-media">
                                <a href="{{loc.organization.social_media.facebook}}" *ngIf="loc.organization.social_media.facebook" target="blank"><i class="fab fa-facebook-square"></i></a>
                                <a href="{{loc.organization.social_media.instagram}}" *ngIf="loc.organization.social_media.instagram" target="blank"><i class="fab fa-instagram"></i></a>
                                <a href="{{loc.organization.social_media.twitter}}" *ngIf="loc.organization.social_media.twitter" target="blank"><i class="fab fa-twitter-square"></i></a>
                                <a href="{{loc.organization.social_media.pinterest}}" *ngIf="loc.organization.social_media.pinterest" target="blank"><i class="fab fa-pinterest"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>       
    </div>
</div>
<app-map></app-map>
