<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a routerLink="/User" class="nav-link">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<ul ngbNav #nav="ngbNav" class="nav-tabs">
    <li ngbNavItem>
      <a ngbNavLink>First</a>
      <ng-template ngbNavContent>First content</ng-template>
    </li>
    <li ngbNavItem>
      <a ngbNavLink>Second</a>
      <ng-template ngbNavContent>Second content</ng-template>
    </li>
</ul> -->
  <!-- <div [ngbNavOutlet]="nav"></div> -->
<app-navbar></app-navbar>
<img src="../../assets/Screen Shot 2021-06-04 at 8.57.08 AM.png" alt="">
<div  class="container-fluid">
    <div class="row">
        <div class="col-4">
            <app-search-filter></app-search-filter>
        </div>
        <div class="col-4 " *ngIf="dogs">

            <!-- <mat-card class="example-card" *ngFor="let dog of dogs.animals">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title>Name: {{dog.name}}</mat-card-title>
                  <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                </mat-card-header>
                <img *ngIf="dog.primary_photo_cropped" src="{{dog.primary_photo_cropped.small}}" alt="">
                <mat-card-content>
                  <p>
                    dog
                  </p>
                </mat-card-content>
                <mat-card-actions>
                    <a routerLink="/DogDetails/{{dog.id}}">Show Dog Details</a>
                </mat-card-actions>
            </mat-card> -->
        <mat-grid-list cols="2" rowHeight="1:5">
            <mat-grid-tile *ngFor="let dog of dogs.animals">
                <ul >
                    <li>
                        <p>Name: {{dog.name}}</p>
                
                        <img *ngIf="dog.primary_photo_cropped" src="{{dog.primary_photo_cropped.small}}" alt="">
                        <a routerLink="/DogDetails/{{dog.id}}">Show Dog Details</a>
                    </li>
                </ul>
            </mat-grid-tile>
        </mat-grid-list>
        </div>
    </div>
</div>

