.background{
    background-color: rgb(248,248,241);
}

.check{
    margin-left: .5rem;
    color: cornflowerblue;
}

#size-slider-box {
    display: block !important;
    /* height: 225px; */
    width: 100%;
}
.dog-icon-container{
    height: 130px;
    /* align-content: flex-end; */

}
.fa-dog{
    margin-top: auto;
    display: block !important;
    color: cornflowerblue;
    text-align: center;
    /* margin-left: auto; */
    /* margin-right: auto; */
    /* vertical-align: middle; */
}
#size-slider{
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#gender{
    width: 100%;
}

#genderRadio{

}
.gender-btn{
    margin-right: 7%;
}

